  <div class = "container">
    <div class ="container">
      <h2>Doador</h2>
      <hr/>
      {{message}}
         <form name="formAgenda" class="form-horizontal">
              <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" id = "nome_agenda.doador" placeholder="Adicione o nome completo" ng-model="agenda.doador.nome" ng-require = "true"/>
              </div>

              <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control"  id = "email_agenda.doador" placeholder="Adicione o email" ng-model="agenda.doador.email" ng-require = "true"/>
              </div>

              <div class="form-group">
                <label>Cpf:</label>
                <input type="text"class="form-control"  id = "cpf_agenda.doador" placeholder="Adicione o cpf" ng-model="agenda.doador.cpf" ng-require = "true"/>
              </div>

              <div class="form-group">
                <label>Cep:</label>
                <input type="text" class="form-control"  id = "cep_agenda.doador" placeholder="Adicione o cep" ng-model="agenda.doador.cep" ng-require = "true"/>
              </div>

              <div class="form-group">
                <label>Endereço:</label>
                <input type="text" class="form-control"  id = "endereco_agenda.doador" placeholder="Adicione o endereço" ng-model="agenda.doador.endereco" class="validate" ng-require = "true"/>
              </div>
        </div>
    </div>
  </div>

  <div class="container">
    <h2>Escolha o laboratório</h2>
    <hr/>
      <div class="form-group">
        <label>Nome:</label>
        <input type="text"class="form-control"  id = "nome_laboratorio" placeholder="Adicione o nome do laboratório" ng-model="agenda.laboratorio.nome" ng-require = "true"/>
      </div>
      <div class="form-group">
        <label>CEP:</label>
        <input type="text"class="form-control"  id = "cep_laboratorio" placeholder="Adicione o cep" ng-model="agenda.laboratorio.cep" ng-require = "true"/>
      </div>
      <div class="form-group">
        <label>Endereço:</label>
        <input type="text"class="form-control"  id = "cep_laboratorio" placeholder="Adicione o endereço" ng-model="agenda.laboratorio.endereco" ng-require = "true"/>
      </div>
  </div>

  <div class="container">
    <h2>Escolha uma data:</h2>
    <hr/>
    <input type="datetime-local" datetime="dd-MM-yyyy HH:mm:ss"  ng-model = "agenda.date"/>
  </div>

  <div class="container">
    <div class="form-group">
      <button type="submit" class="btn btn-default" ng-click="adicionarAgendar(agenda)"> Agendar </button>
    </div>
  </form>
  </div>
</div>
