<div  class="starter-template">
  <div class = "container">
    <div class = "jumbotron">
      <h1>Doe Sangue</h1>
      <p>Agende agora sua doação e ajude muitas pessoas</p>
      <p>
        <a ng-class="{active: activetab == '/agendar'}" class="btn btn-lg btn-success" role="button"href="#/agendar">Agendar Doação</a>
      </p>
    </div>
  <div>
  <div class="row">
    <div class="col-lg-4">
      <h2>Solicitação</h2>
      <p>Solicite aos laboratórios de coletas um bolsa de sangue</p>
      <p><a role="button" href="#" class="btn btn-primary">Solicitar Bolsa</a></p>
   </div>
   <div class="col-lg-4">
     <h2>Laboratório</h2>
     <p>Lista de laboratórios conveniados</p>
     <p><a  ng-class="{active: activetab == '/listaLaboratorio'}" role="button" href="#/listaLaboratorio" class="btn btn-primary">Buscar Laboratórios</a></p>
   </div>

      <div class="col-lg-4">
        <h2>Rastreo</h2>
        <p>Busca cada uma bolsa de sangue</p>
        <p><a role="button" href="#" class="btn btn-primary">Rastrear Bolsa</a></p>
      </div>
    </div>
</div>
