
<div class = "container">
  <div id = "formDoador">
    <h4>Doador: Preencha os dados</h4>
    <hr/>
    {{message}}
       <form name="formDoador" class="form-horizontal">
            <div class="form-group">
              <label>Nome:</label>
              <input type="text" class="form-control" id = "nome_doador" placeholder="Adicione o nome completo" ng-model="doador.nome" ng-require = "true"/>
            </div>

            <div class="form-group">
              <label>Email:</label>
              <input type="text" class="form-control"  id = "email_doador" placeholder="Adicione o email" ng-model="doador.email" ng-require = "true"/>
            </div>

            <div class="form-group">
              <label>Cpf:</label>
              <input type="text"class="form-control"  id = "cpf_doador" placeholder="Adicione o cpf" ng-model="doador.cpf" ng-require = "true"/>
            </div>

            <div class="form-group">
              <label>Cep:</label>
              <input type="text" class="form-control"  id = "cep_doador" placeholder="Adicione o cep" ng-model="doador.cep" ng-require = "true"/>
            </div>

            <div class="form-group">
              <label>Endereço:</label>
              <input type="text" class="form-control"  id = "endereco_doador" placeholder="Adicione o endereço" ng-model="doador.endereco" class="validate" ng-require = "true"/>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" g-click="adicionaDoador(doador)" ng-disable = "!doador.nome || doador.endereco"> Cadastrar </button>
            </div>
          </form>
      </div>
  </div>

</div>
