  <div class = "container">
    <div class ="container">
      <h2>Doador</h2>
      <hr/>
      <div class="alert alert-info" ng-show ="message.length>0"> {{message}}</div>
         <form name="formAgenda" class="form-horizontal">
              <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" id = "nome_agenda.doador" placeholder="Adicione o nome completo" ng-model="agenda.doador.nome" ng-require = "true"/>
              </div>

              <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control"  id = "email_agenda.doador" placeholder="Adicione o email" ng-model="agenda.doador.email" ng-require = "true"/>
              </div>

              <div class="form-group">
                <label>Rg:</label>
                <input type="text"class="form-control"  id = "rg_agenda.doador" placeholder="Adicione o rg" ng-model="agenda.doador.rg" ng-require = "true"/>
              </div>

              <div class="form-group">
                <label>Cep:</label>
                <input type="text" class="form-control"  id = "cep_agenda.doador" placeholder="Adicione o cep" ng-model="agenda.doador.cep" ng-require = "true"/>
              </div>

              <div class="form-group">
                <label>Endereço:</label>
                <input type="text" class="form-control"  id = "endereco_agenda.doador" placeholder="Adicione o endereço" ng-model="agenda.doador.endereco" class="validate" ng-require = "true"/>
              </div>
        </div>
    </div>
  </div>

  <div class="container">
    <h2>Escolha o laboratório</h2>
    <hr/>
      <div class="form-group">
        <label>Nome:</label>
        <input type="text"class="form-control"  id = "nome_laboratorio" placeholder="Adicione o nome do laboratório" ng-model="agenda.laboratorio.nome" ng-require = "true"/>
      </div>
      <div class="form-group">
        <label>CEP:</label>
        <input type="text"class="form-control"  id = "cep_laboratorio" placeholder="Adicione o cep" ng-model="agenda.laboratorio.cep" ng-require = "true"/>
      </div>
      <div class="form-group">
        <label>Endereço:</label>
        <input type="text"class="form-control"  id = "cep_laboratorio" placeholder="Adicione o endereço" ng-model="agenda.laboratorio.endereco" ng-require = "true"/>
      </div>
  </div>

<!--  <div class="container">
    <h2>Escolha uma data:</h2>
    <hr/>
    <input type="datetime-local" datetime="dd-MM-yyyy HH:mm:ss"  ng-model = "agenda.date"/>
  </div>-->
  <div class  ="container">
    <h2>Escolha uma data:</h2>
    <hr/>
    <input  ng-model = "agenda.date"  type="datetime-local" min="{{minDate | date:'dd-MM-yyyy HH:mm:ss'}}" />
  </div>

  <div class="container">
    <div class="form-group">
      <button type="submit" class="btn btn-default" ng-click="agendar(agenda)"> Agendar </button>
    </div>
  </form>
  </div>
</div>
