<h2>Preencha os dados</h2>
<div class= "container">
   <div ng-controller="">
     <h3 for="first_name">Dados do doador</h3>
     <div class = "row">
        <form name="form" class = "col s12">

          <div class="row">
            <div class="input-field col s12">
              <input type="text" id = "nome_doador" placeholder="Adicione o nome completo" ng-model="doador.nome" class="validate"
              <label for="nome_doador">Nome Completo:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" id = "email_doador" placeholder="Adicione o email" ng-model="doador.email" class="validate"
              <label for="cpf_doador">Email:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" id = "cpf_doador" placeholder="Adicione o cpf" ng-model="doador.cpf" class="validate"
              <label for="cpf_doador">Cpf:</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <input type="text" id = "cep_doador" placeholder="Adicione o cep" ng-model="doador.cep" class="validate"
              <label for="cep_doador">Cep:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" id = "endereco_doador" placeholder="Adicione o endereço" ng-model="doador.cep" class="validate"
              <label for="endereco_doador">Endereço:</label>
            </div>
          </div>

           <button ng-click="adicionar(doador)" ng-disable = "!doador.nome || doador.endereco" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
        </form>
      </div>
    </div>
</div>


<h2>Selecione o Laboratório</h2>
<div class= "container">
   <div ng-controller="">
     <h3 for="first_name">Dados do doador</h3>
     <div class = "row">
        <form name="form" class = "col s12">
        </form>
      </div>
    </div>
</div>
